<!--@@master = components/master.tmpl.html -->

<!--@@block = content-->
<section class="homeSlider">
    <div class="homeSlider-item">
        <h2 class="homeSlider-item-header">When you work with one of us</h2>
        <p class="homeSlider-item-desc">
            You benefit from the collective expertise and market knowledge of  our entire firm
        </p>
        <a href="#" class="homeSlider-item-more">Learn More</a>
    </div>
    <div class="homeSlider-item">
        <h2 class="homeSlider-item-header">When we learn we have a part who we are</h2>
        <p class="homeSlider-item-desc">
            You benefit from the collective expertise and market knowledge of  our entire firm
        </p>
        <a href="#" class="homeSlider-item-more">Learn More</a>
    </div>
    <div class="homeSlider-item">
        <h2 class="homeSlider-item-header">Real estate in your city</h2>
        <p class="homeSlider-item-desc">
            You benefit from the collective expertise and market knowledge of  our entire firm
        </p>
        <a href="#" class="homeSlider-item-more">Learn More</a>
    </div>
</section>
<section class="bluSection">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-xs-12  bluSection-content">
                <span class="bluSection-content-text">Ternopil commercial real estate professionals</span>
            </div>
        </div>
    </div>
</section>
<section class="descSection">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-xs-12 descSection-cont">
                <p class="descSection-cont-text">
                    <strong>Intro lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac nisi a risus tempor pulvinar.</strong> Maecenas orci ligula, rhoncus non gravida in, finibus id diam.
                </p>
                <p class="descSection-cont-text">
                    Donec convallis nulla eget metus aliquet scelerisque. Vestibulum <a href="#">aliquet odio eget lobortis</a> vulputate. Integer nulla tortor, malesuada in purus id, placerat dignissim turpis. Nulla maximus velit sit amet diam consectetur, quis euismod mauris consequat. Aenean tempor lectus odio, vel vestibulum nibh cursus sed. Fusce accumsan libero eu semper lobortis. Ut semper dolor nec ipsum lobortis, sit amet accumsan velit molestie. Vivamus et metus consequat
                    <a href="#">augue ultrices luctus</a> vitae in augue.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="newListing">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-sm-6 newListing-img">
                <img src="img/newListing.jpg" alt="office" class="newListing-img-pic">
            </div>
            <div class="col-sm-6 newListing-info">
                <h4 class="newListing-info-title">New Listings</h4>
                <p class="newListing-info-desc">
                    Integer nulla tortor, malesuada in purus id, placerat dignissim turpis. Nulla maximus velit sit amet diam consectetur, quis euismod mauris consequat. Aenean tempor lectus odio, vel vestibulum nibh cursus sed.
                </p>
                <button class="newListing-info-butt">
                    Browse Listings
                </button>
            </div>
        </div>
    </div>
</section>
<section class="propertySearch">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-xs-12 propertySearch-header">
                <h4 class="propertySearch-header-title">Property Search</h4>
                <span class="propertySearch-header-desc">
                    Integer nulla tortor, malesuada in purus id, placerat dignissim turpis.
                </span>
            </div>
            <div class="col-xs-12 propertySearch-product">
                <div class="propertySearch-product-item">
                    <a href="" class="propertySearch-product-item-link">
                        <img src="img/prop_1.jpg" alt="" class="propertySearch-product-item-pic">
                        <span class="propertySearch-product-item-title">Office</span>
                    </a>
                </div>
                <div class="propertySearch-product-item">
                    <a href="" class="propertySearch-product-item-link">
                        <img src="img/prop_2.jpg" alt="" class="propertySearch-product-item-pic">
                        <span class="propertySearch-product-item-title">Retail</span>
                    </a>
                </div>
                <div class="propertySearch-product-item">
                    <a href="" class="propertySearch-product-item-link">
                        <img src="img/prop_3.jpg" alt="" class="propertySearch-product-item-pic">
                        <span class="propertySearch-product-item-title">Industrial</span>
                    </a>
                </div>
                <div class="propertySearch-product-item">
                    <a href="" class="propertySearch-product-item-link">
                        <img src="img/prop_4.jpg" alt="" class="propertySearch-product-item-pic">
                        <span class="propertySearch-product-item-title">Investment</span>
                    </a>
                </div>
                <div class="propertySearch-product-item">
                    <a href="" class="propertySearch-product-item-link">
                        <img src="img/prop_5.jpg" alt="" class="propertySearch-product-item-pic">
                        <span class="propertySearch-product-item-title">Land</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="options">
    <div class="container container-fluid">
        <div class="row options-items">
            <div class="col-md-4 col-sm-6 options-item">
                <img src="img/icon-broker.png" alt="broker" class="options-item-icon">
                <div class="options-item-content">
                    <h4 class="options-item-content-title">Brokerage</h4>
                    <p class="options-item-content-desc">Buyer/Tenant</p>
                    <p class="options-item-content-desc"> Representation</p>
                    <p class="options-item-content-desc">Landlord Representation</p>
                    <p class="options-item-content-desc">Buying/Selling</p>
                    <p class="options-item-content-desc">Investment Advisory</p>
                    <p class="options-item-content-desc">Asset Management</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 options-item">
                <img src="img/icon-prop.png" alt="property" class="options-item-icon">
                <div class="options-item-content">
                    <h4 class="options-item-content-title">PROPERTY MANAGEMENT</h4>
                    <p class="options-item-content-desc">Building Maintenance</p>
                    <p class="options-item-content-desc">Grounds</p>
                    <p class="options-item-content-desc">Project Management</p>
                    <p class="options-item-content-desc">Accounting</p>
                    <p class="options-item-content-desc">Accounting</p>
                    <p class="options-item-content-desc">24/7 Emergency Service</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 options-item">
                <img src="img/icon-people.png" alt="people" class="options-item-icon">
                <div class="options-item-content">
                    <h4 class="options-item-content-title">PEOPLE</h4>
                    <p class="options-item-content-desc">
                        Integer nulla tortor, malesuada in purus id, placerat dignissim turpis. Nulla maximus velit sit amet diam consectetur, quis euismod mauris consequat. Aenean tempor lectus odio, vel vestibulum nibh cursus sed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-xs-12 news-header">
                <h4 class="news-header-title">Latest News</h4>
                <span class="news-header-desc">
                    Integer nulla tortor, malesuada in purus id, placerat dignissim turpis.
                </span>
            </div>
            <div class="col-xs-12">
                <ul class="news-list row">
                    <li class="news-list-item col-lg-4 col-xs-12">
                        <img src="img/lastNews-1.jpg" alt="computer" class="news-list-item-pic">
                        <div class="news-list-item-desc">
                            <h4 class="news-list-item-desc-title">Nulla maximus velit sit amet diam consectetur, quis euismod con</h4>
                            <span class="news-list-item-desc-date">January 5, 2018</span>
                            <p class="news-list-item-desc-text">
                                Integer nulla tortor, malesuada in purus id, placerat dignissim turpis. Nulla maximus velit sit amet diam consectetur, quis euismod mauris consequat.
                            </p>
                            <a href="#" class="news-list-item-desc-more">Read more</a>
                        </div>
                    </li>
                    <li class="news-list-item col-lg-4 col-xs-12">
                        <img src="img/lastNews-2.jpg" alt="build" class="news-list-item-pic">
                        <div class="news-list-item-desc">
                            <h4 class="news-list-item-desc-title">Nulla maximus velit sit amet</h4>
                            <span class="news-list-item-desc-date">December 15, 2017</span>
                            <p class="news-list-item-desc-text">
                                Integer nulla tortor, malesuada in purus id, placerat dignissim turpis. Nulla maximus velit sit amet diam consectetur, quis euismod mauris consequat!
                            </p>
                            <a href="#" class="news-list-item-desc-more">Read more</a>
                        </div>
                    </li>
                    <li class="news-list-item col-lg-4 col-xs-12">
                        <img src="img/lastNews-3.jpg" alt="icon" class="news-list-item-pic">
                        <div class="news-list-item-desc">
                            <h4 class="news-list-item-desc-title">Nulla maximus velit sit amet</h4>
                            <span class="news-list-item-desc-date">December 15, 2017</span>
                            <p class="news-list-item-desc-text">
                                Integer nulla tortor, malesuada in purus id, placerat dignissim turpis.
                            </p>
                            <a href="#" class="news-list-item-desc-more">Read more</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--@@close-->