<div class="topFooter">
    <div class="container container-fluid">
        <div class="row">
            <ul class="topFooter-menu-list col-xs-12">
                <li class="topFooter-menu-list-item">
                    <a href="" class="topFooter-menu-list-item-link">Home</a>
                </li>
                <li class="topFooter-menu-list-item">
                    <a href="" class="topFooter-menu-list-item-link">PropertY Search</a>
                </li>
                <li class="topFooter-menu-list-item">
                    <a href="" class="topFooter-menu-list-item-link">People</a>
                </li>
                <li class="topFooter-menu-list-item">
                    <a href="" class="topFooter-menu-list-item-link">Service</a>
                </li>
                <li class="topFooter-menu-list-item">
                    <a href="" class="topFooter-menu-list-item-link">News & Reports</a>
                </li>
                <li class="topFooter-menu-list-item">
                    <a href="" class="topFooter-menu-list-item-link">About</span>
                    </a>
                </li>
                <li class="topFooter-menu-list-item">
                    <a href="" class="topFooter-menu-list-item-link">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="bottomFooter">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p class="bottomFooter-contact">Phone: 123.456.7000 | Fax: 123.456.8000 | 11123 Modeport Street, Manitoba, NY 12345 | test@gmail.com</p>
                <p class="bottomFooter-contact">Copyright © 2018 CSS3 Flex Inc. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>