<div class="header">
    <div class="header-top">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-xs-8 header-top-contact">
                    <span class="glyphicon glyphicon-earphone"></span><span class="header-top-contact-data">123.456.7000</span>
                    <span class="glyphicon glyphicon-envelope"></span><span class="header-top-contact-data">test@gmail.com</span>
                </div>
                <div class="col-xs-4 header-top-info">
                    <a href="#" class="header-top-info-link">Careers</a>
                    <a href="#" class="header-top-info-link">Employee Access</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="contentContainer">
            <div class="header-bottom-flexContainer">
                <div class="header-bottom-logo">
                    <span class="header-bottom-logo-text">CSS3 Flex</span>
                </div>
                <div class="header-bottom-menu">
                    <span class="glyphicon glyphicon-th-list toggleButton"></span>
                    <ul class="header-bottom-menu-list toggleMenu">
                        <li class="header-bottom-menu-list-item">
                            <a href="" class="header-bottom-menu-list-item-link">Home</a>
                        </li>
                        <li class="header-bottom-menu-list-item">
                            <a href="" class="header-bottom-menu-list-item-link">PropertY Search</a>
                        </li>
                        <li class="header-bottom-menu-list-item">
                            <a href="" class="header-bottom-menu-list-item-link">People<span class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="subMenu">
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Web Design
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Wordpress
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Devplopment
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Marketing
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Management
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="header-bottom-menu-list-item">
                            <a href="" class="header-bottom-menu-list-item-link">Services<span class="glyphicon glyphicon-chevron-down"></span></a>
                            <ul class="subMenu">
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Web Design
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Design
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Mobile App
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Internet Marketing
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Management
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="header-bottom-menu-list-item">
                            <a href="" class="header-bottom-menu-list-item-link">News & Reports</a>
                        </li>
                        <li class="header-bottom-menu-list-item">
                            <a href="" class="header-bottom-menu-list-item-link">About<span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="subMenu">
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Web Design
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Wordpress Design
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Devplopment
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Internet
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Social Media
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="header-bottom-menu-list-item">
                            <a href="" class="header-bottom-menu-list-item-link">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>